{
    margin: 0;
    padding: 0;
    font-family: 
}

.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    background: #fff;
        
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 500px 100px;
    display: flex;
    justify-content: space-between;
    align-items: right;     
}
header .logo{
    position: relative;
    max-width: 80px;
    
}

.navbar img{
    height: 15%;
    width: 15%;
}
.navbar{
    width: 80%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
    .navbar ul li{
    align-content: flex-end;
    align-items: left;
    list-style: none;
    display: inline-block;    
    margin: 0 15px;
}

.navbar ul li a{
    align-content: flex-end;
    align-items: left;
    text-decoration: none;
    color: #5f5f5f;
    font-size: 15px;
}
.content .textBox{
    font-family: ;
    font-size: 30px;
}

.content .textBox p{
    font-size: 20px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 50px;
    line-height: 1.em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: darkgreen;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.img .starbucks{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.img .starbucks{
    max-width: 340px;   
}
.thumb{
     position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover
{
    transform: translateY(-15px);
    display: flex;
}
.thumb lis img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none; 
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1)
        
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px)
        
}
.name{
    font-family: monospace;
    font-size: 30px;
}
.name h1 span{
     color: darkgreen;
    font-weight: 900;
}